.c-card * {
    display: block;
    box-sizing: border-box;
  }

 .container {
    color: #cecfd4;
    background-color: #323648;
    border-radius: 10px;
    padding: 12px;
    display: flex;
    flex-direction: column;
  }
  .top {
    margin-bottom: 20px;
  } 
  .flex_between {
    display: flex;
    justify-content: space-between;
  }
  .title h1{
    margin-bottom: 16px;
    letter-spacing: 2px;
    display: none;
  }
  .on_sale {
    font-size: 0.75rem;
    margin-bottom: 8px;
  }
  .on_sale span {
    color: #39e29d;
  }
  .amount_input {
    color: #cecfd4;
    height: 100%;
    width: 64px;
    border: none;
    background-color: #373e54;
    padding-left: 10px;
    border-radius: 6px;
  }
  .name {
    margin-bottom: 8px;
    font-size: 14px;
  }
  .price {
    font-weight: bold;
    letter-spacing: 0.68px;
    font-size: 14px;
  }
  .description {
    opacity: 0.5;
    margin-top: 8px;
    margin-bottom: 16px;
    font-size: 12px;
  }
  .action_area {
    display: flex;
    gap: 8px;
    margin-top: auto;
  }
  .details_btn {
    width: 8rem;
    height: 2.3rem;
    border-radius: 4px;
    padding: 10px;
    cursor: pointer;
    display: flex;
    align-items: end;
    font-size: 0.875rem;
    gap: 4px;
    letter-spacing: 1px;
  }

  .details {
    margin-left: 5px;
    width: 6rem;
    height: 2rem;
    border-radius: 4px;
    color: #cecfd4;
    background-color: #3e4254;
    font-weight: bold;
    gap: 16px;
    margin-left: 12px;
  }

  .cart_btn {
    width: 8rem;
    height: 2.3rem;
    border-radius: 4px;
    padding: 10px;
    cursor: pointer;
    display: flex;
    align-items: end;
    font-size: 0.875rem;
    gap: 4px;
    letter-spacing: 1px;
  }

  .add {
    margin-left: 5px;
    width: 6rem;
    height: 2rem;
    border-radius: 4px;
    color: #cecfd4;
    background-color: #5762d5;
    font-weight: bold;
    gap: 16px;
    margin-left: 12px;
  }
  
  .align {
    width: 6rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;

  }
  .hidden {
    visibility: hidden;
  }
  
